	/***
    =============================================== 
 
        Portfolio page 
        Made by Sueun Lee
        https://github.com/quicksilversel
 
    =============================================== 
	***/

html {
	scroll-behavior: smooth;
	word-break: break-word;
	overflow: auto;
}

body {
	font-family: 'Roboto', sans-serif;
    margin:0;
	padding:0;
    background-color: #f6f6f6;
}

h2{
	font-family:"Yantramanav", sans-serif;
	text-transform: uppercase;
	font-size: 35px;
	letter-spacing: 2px;
	color: black;
	margin-top: 20px;
	margin-bottom: 2%;
}

.border-top {
	border-top: 1px solid #e7e7e7;
	padding: 3% 0;
}

#button {
	width: 30%;
	border: 2px solid black;
	color: black;
	padding: 1% 5%;
	font-size: 15px;
	font-family: "Yantramanav", sans-serif;
	text-transform: uppercase;
	transition: all 0.5s ease-in-out;
}

#button:hover {
	background-color: black;
	color: white;
	text-decoration: none;
}

.fade-in {
	opacity: 0;
	transform: translateY(10vh);
	visibility: hidden;
	transition: opacity 0.6s ease-out, transform 1.2s ease-out;
	will-change: opacity, visibility;
  }

.fade-in.is-visible {
	opacity: 1;
	transform: none;
	visibility: visible;
}

/* loader */

.loading-container {
  width: 100%;
  height: 100vh;
  background-color: #171f30;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  position: fixed;
}
.loading-container .loading {
  width: 80px;
  height: 50px;
  position: relative;
}
.loading-container .loading p {
  top: 0;
  padding: 0;
  margin: 0;
  color: #5389a6;
  font-family: "Roboto", sans-serif;
  animation: text 3.5s ease both infinite;
  font-size: 12px;
  letter-spacing: 1px;
}
@keyframes text {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }
  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }
  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }
  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}
.loading-container .loading span {
  background-color: #5389a6;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading 3.5s ease both infinite;
}
.loading-container .loading span:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #a6dcee;
  border-radius: inherit;
  animation: loading2 3.5s ease both infinite;
}
@keyframes loading {
  0% {
    width: 16px;
    transform: translateX(0px);
  }
  40% {
    width: 100%;
    transform: translateX(0px);
  }
  80% {
    width: 16px;
    transform: translateX(64px);
  }
  90% {
    width: 100%;
    transform: translateX(0px);
  }
  100% {
    width: 16px;
    transform: translateX(0px);
  }
}
@keyframes loading2 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }
  40% {
    transform: translateX(0%);
    width: 80%;
  }
  80% {
    width: 100%;
    transform: translateX(0px);
  }
  90% {
    width: 80%;
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
    width: 16px;
  }
}

/* font awesome icons */
i{
	padding: 5px;
}

/* language selector */

#language a:hover {
	color:#c11603;
}

/* header */

.header {
	background-image: url(../img/header.jpg);
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .header-text {
	display: block;
	color: white;
	width: 90%;
}

.header-text h1 {
	font-size: 60px; 
	padding-bottom: 2%; 
	font-family: 'Yantramanav', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.header-text p {
	font-size: 18px;
	padding-bottom: 4.5%;
	font-family: "Raleway";
	word-break: break-word;
}

.header-text {
	transition: all 0.5s ease-in-out;
}

.hidden {
	opacity: 0;
}

.header .button {
	font-family: "Yantramanav", sans-serif;
	padding: 1% 3%;
	color: white;
	font-size: 20px;
	border: 2px solid white;
	text-transform: uppercase;
	border-radius: 4px;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}

.header a:hover {
	background-color: white;
	color:black;
	text-decoration: none;
	cursor: pointer;
}



/* navigation */
nav {
	font-family: 'Roboto', sans-serif;
	background-color: #FFFFFF;
	width: 100%;
	font-size: 16px;
	padding-top: 1%;
	padding-bottom: 1%;
}

nav ul {
    list-style: none;
}

nav ul li {
	display: inline-block;
}

.active a {
	color: #c11603;
}

nav ul li a {
	color:black;
	position: relative;
	display: block;
	padding: 15px;
	text-decoration: none;
	font-weight: 800;
	margin: 0 10px;
	text-align: start;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color:#c11603;
}

nav ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #c11603;
	height: 1px;
}

nav ul li a:hover:after {
	width: 100%;
}

.navbar {
	transition: all 1s ease;
}

.navbar.fixed-top {
	transition: all 1s ease;
}

.navbar .navbar-nav {
	text-align: center;
}




/* portfolio */
#portfolio {
	padding-bottom: 2%;
	overflow: hidden;
}

#projects img {
	transition: transform 0.5s ease;
}

#projects img:hover {
	transform: scale(1.1);
}

#portfolio h3 {
	font-family: "Raleway";
	font-weight:400;
}

#portfolio .container {
	padding: 2%;
}

#porfolio .row {
	display : flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row wrap;
	flex-direction: row;
	flex-wrap: wrap;
}

#portfolio h5 {
	font-size: 13px;
	color: gray;
}

.card-body {
	background-color: white;
	margin-bottom: 2%;
}

/* freelance section */ 

#upwork .row {
	display: block;
	overflow-x: auto;
	white-space: nowrap;
}

#upwork .row .col-lg-4 {
	display: inline-block;
}

#upwork img {
	width: 100%;
	backface-visibility: hidden;
}

.upwork-project {
	position: relative;
}


@media screen and (max-width: 768px) {
    .upwork-project {
		width:80%;
	}
}

.caption {
    position: absolute;		
    top: 15px;
    left: 40px;
    right: 40px;
    bottom: 15px;
	border-radius: 10px;
    opacity: 0;
    transition: all 0.8s ease;		
	background-color: black;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 0 5%;
}

.upwork-project:hover .caption {
	opacity: 0.9;
	overflow: hidden;
}

.caption p,
.caption a {
	color: white;
    text-align: center;
	font-size: 15px;
    opacity: 0;
    transition: opacity .4s .2s;
}

.caption p {
	background: transparent;
	font-family: "Raleway", sans-serif;
}

.caption a {
	background: #ae895d;
	padding: 2%;
	border-radius: 2px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Yantramanav", sans-serif;
}

.upwork-project:hover .caption p {
    opacity: 1;
}

.upwork-project:hover .caption a {
    opacity: 1;
}

/* about me */

.article {
	padding-left: 6%;
	padding-right: 6%;
}

.about {
	padding-top: 3%;
	padding-bottom: 3%;
	font-family: "Raleway";
	justify-content: center;
	align-items: center;
}

/* Card animation */
.card-container
{
    font-family: 'Yantramanav', sans-serif;
    width: 300px;
    height: 180px;
    margin: 0 auto;
    border-radius: 10px;
    perspective: 1400px;
	text-transform: uppercase;
	cursor: pointer;
}

.about-card
{
    position: relative;
    height: 100%;
    border-radius: 10px;
    width: 100%;
    transform-style: preserve-3d;
}

.front, .back
{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
	box-shadow: 0 6px 15px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
}

.front
{
    color: white;
    background: black;
	font-size: 50px;
	justify-content: center;
    align-items: center;
}

.back
{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg) translateZ(1px);
    color: black;
    background: white;
	font-size: 17px;
	text-align: left;
	display: inline;
	padding-left: 5%;
	padding-top: 2%;
}

.back p {
	font-size: 17px;
	text-align: left;
}

.back a {
	color: black;
	text-decoration: none;
}

.back a:hover {
	color: #9e9e9e;
}

.about-text {
	justify-content: center;
    align-items: center;
}

/* skill bars */

.skills h3 {
	font-family: 'Yantramanav', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size : 30px;
	color:black;
	padding-bottom: 5%;
}

.skills {
	padding-top: 3%;
	padding-bottom : 3%;
}

.skills #bar {
	width: 100%; 
	background-color: #ddd;
	margin-top : 2%;
	margin-bottom: 2%;
	
}

#bar .progress-bar {
	color: white;
	font-family: 'Roboto';
	font-size: 15px;
	padding: 1%;
	width:0%;
	background-color:black;
	transition: all 1.5s ease;
	text-align: left;
}

/* footer */

.footer{
	background-color: #f6f6f6;	
	margin-top: 2%;
}

.footer h2 {
	color: black;
}

.footer p {
	font-family: "Raleway";
}

.footer a {
	text-decoration: none;
	color: black;
}

@media screen and (max-width: 768px) {
    .footer .contacts {
		margin: 2% auto;
	}
}